.Day {
    display: inline;
    padding: 3px;
}

.Day > div {
    height: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
}

.Day .number {
    font-size: 30px;
}

.Day.disabled {
    opacity: 0.5;
}